<html>

<ul>


	Internal Hostname : <li> <%= @internal_hostname %> </li>
	DHCP : <li> <%= @host_protocol %> </li>
	DNS : <li> <%= @dns %> </li>
	Hostname : <li> <%= @hostname %> </li> 

</ul>


</html>
